@charset "UTF-8";
:root {
  --primary-background: #fff;
  --second-background: #000;
  --primary-text: #000;
  --second-text: #fff;
}

@font-face {
  font-family: "Fahkwang";
  src: url("../../assets/font/fahkwang/Fahkwang-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fahkwang";
  src: url("../../assets/font/fahkwang/Fahkwang-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Fahkwang";
  src: url("../../assets/font/fahkwang/Fahkwang-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fahkwang";
  src: url("../../assets/font/fahkwang/Fahkwang-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Fahkwang";
  src: url("../../assets/font/fahkwang/Fahkwang-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fahkwang";
  src: url("../../assets/font/fahkwang/Fahkwang-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Fahkwang";
  src: url("../../assets/font/fahkwang/Fahkwang-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fahkwang";
  src: url("../../assets/font/fahkwang/Fahkwang-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Fahkwang";
  src: url("../../assets/font/fahkwang/Fahkwang-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fahkwang";
  src: url("../../assets/font/fahkwang/Fahkwang-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Fahkwang";
  src: url("../../assets/font/fahkwang/Fahkwang-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fahkwang";
  src: url("../../assets/font/fahkwang/Fahkwang-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

form {
  margin: 0;
}

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Fahkwang", sans-serif;
  background: #ffffff;
  color: #000;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
  padding: 0;
}

input,
textarea {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
  transition: background-color 1s 9999s;
  -webkit-text-fill-color: var(--white-color);
  caret-color: var(--white-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  font-family: "Fahkwang", sans-serif;
}

.btn {
  font-family: "Fahkwang", sans-serif;
  display: inline-flex;
  align-items: center;
  padding: 13px 40px;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 99px;
  transition: all 0.3s ease-in-out;
}
.btn--primary {
  background: #fff;
  color: #000;
}
.btn--primary:hover {
  background: #000;
  color: #fff;
}
.btn--secondary {
  background: #000;
  color: #fff;
}
.btn--secondary:hover {
  background: #646464;
}
.btn__icon svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  padding-left: 4px;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 40px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1410px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 10px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 10px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 20px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 20px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 40px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 40px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 50px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 50px;
}

@media (max-width: 1919.98px) {
  .container {
    max-width: 1410px;
  }
  .row-cols-xxxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxxl-0 {
    margin-left: 0;
  }
  .offset-xxxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxxl-3 {
    margin-left: 25%;
  }
  .offset-xxxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxxl-6 {
    margin-left: 50%;
  }
  .offset-xxxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxxl-9 {
    margin-left: 75%;
  }
  .offset-xxxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxxl-0,
  .gx-xxxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxxl-0,
  .gy-xxxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxxl-1,
  .gx-xxxl-1 {
    --grid-gutter-x: 10px;
  }
  .g-xxxl-1,
  .gy-xxxl-1 {
    --grid-gutter-y: 10px;
  }
  .g-xxxl-2,
  .gx-xxxl-2 {
    --grid-gutter-x: 20px;
  }
  .g-xxxl-2,
  .gy-xxxl-2 {
    --grid-gutter-y: 20px;
  }
  .g-xxxl-3,
  .gx-xxxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxxl-3,
  .gy-xxxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxxl-4,
  .gx-xxxl-4 {
    --grid-gutter-x: 40px;
  }
  .g-xxxl-4,
  .gy-xxxl-4 {
    --grid-gutter-y: 40px;
  }
  .g-xxxl-5,
  .gx-xxxl-5 {
    --grid-gutter-x: 50px;
  }
  .g-xxxl-5,
  .gy-xxxl-5 {
    --grid-gutter-y: 50px;
  }
}
@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 10px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 10px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 20px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 20px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 40px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 40px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 50px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 50px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 10px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 10px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 20px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 20px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 40px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 40px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 50px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 50px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 10px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 10px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 20px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 20px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 40px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 40px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 50px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 50px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 10px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 10px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 20px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 20px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 40px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 40px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 50px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 50px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 10px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 10px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 20px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 20px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 40px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 40px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 50px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 50px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
.banner {
  height: 90vh;
}
@media (max-width: 767.98px) {
  .banner {
    height: 100%;
  }
}
.banner-left {
  display: flex;
  height: 100%;
}
.banner__img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .banner__img {
    width: 100%;
    height: 100%;
  }
}
.banner-right {
  height: 100%;
  color: #fff;
  background: #000;
  padding: 0 40px;
}
@media (max-width: 767.98px) {
  .banner-right {
    padding: 27px 27px 54px;
  }
}
.banner__content {
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.banner__sub-title {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.banner__title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}
.banner__desc {
  line-height: 26px;
}
.banner__btn {
  margin-top: 26px;
  width: fit-content;
}
@media (max-width: 767.98px) {
  .banner__btn {
    margin-top: 18px;
  }
}

.carousel {
  background: #f5f5f5;
  padding: 12px 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.carousel__wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel__content {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  animation: none;
  transition: transform 0.1s linear;
  will-change: transform;
}
.carousel__item {
  padding: 0 40px;
  font-size: 19px;
  line-height: 29px;
  font-weight: 500;
  white-space: nowrap;
  flex-shrink: 0;
}
@media (max-width: 767.98px) {
  .carousel__item {
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0px;
    font-weight: 400;
  }
}

.brand {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .brand {
    margin-top: 54px;
    margin-bottom: 27px;
  }
}
.brand__sub-title {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .brand__sub-title {
    font-size: 12px;
    line-height: 20px;
  }
}
.brand__title {
  margin-top: 8px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
  text-transform: capitalize;
}
@media (max-width: 767.98px) {
  .brand__title {
    font-size: 25.6px;
    line-height: 33.6px;
  }
}
.brand__desc {
  margin-top: 8px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 26px;
  font-size: 16px;
}
@media (max-width: 767.98px) {
  .brand__desc {
    line-height: 24px;
    font-size: 14px;
  }
}
.brand__list {
  margin-top: 43px;
}
@media (max-width: 767.98px) {
  .brand__list {
    margin-top: 27px;
  }
}
.brand__item {
  width: 100%;
}
.brand__item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}
.brand__item img:hover {
  transform: scale(1.05);
}

.collections-container {
  width: 100%;
  padding: 20px 0;
}
@media (max-width: 767.98px) {
  .collections-container {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.collections-gallery {
  display: flex;
  width: 100%;
  height: 500px;
  position: relative;
}
@media (max-width: 767.98px) {
  .collections-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: auto;
  }
}

/* Chia thành 7 phần, ảnh được hover vào chiếm 3 phần (3/7), còn lại mỗi ảnh 1/7 */
.collections-item {
  position: relative;
  flex: 2; /* Mặc định là 2/7 */
  overflow: hidden;
  transition: flex 0.5s ease;
  cursor: pointer;
  margin: 0 5px;
}
@media (max-width: 767.98px) {
  .collections-item {
    flex: none;
    margin: 0;
    height: 250px;
    transition: none;
  }
}

.collections-item.active,
.collections-item:hover {
  flex: 3; /* Khi hover hoặc active, phần tử sẽ to hơn 3 lần */
}
@media (max-width: 767.98px) {
  .collections-item.active,
  .collections-item:hover {
    flex: none;
  }
}

.collections-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
}
@media (max-width: 767.98px) {
  .collections-image {
    transition: none;
  }
}

.collections-item:hover .collections-image {
  transform: scale(1.05);
}
@media (max-width: 767.98px) {
  .collections-item:hover .collections-image {
    transform: none;
  }
}

.collections-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 30%, transparent 70%);
}

.collections-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  width: 100%;
}
@media (max-width: 767.98px) {
  .collections-content {
    padding: 10px;
    display: block;
  }
}

.collections-action {
  opacity: 0; /* Mặc định ẩn nội dung */
  transition: opacity 0.3s ease;
}
@media (max-width: 767.98px) {
  .collections-action {
    opacity: 1;
    transition: none;
  }
}

/* Hiển thị nội dung khi hover hoặc active */
.collections-item.active .collections-action,
.collections-item:hover .collections-action {
  opacity: 1;
}

.collections-name {
  letter-spacing: 0px;
  font-size: 19px;
  line-height: 29px;
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .collections-name {
    font-size: 17px;
    line-height: 22px;
  }
}

.collections-quantity {
  line-height: 26px;
  font-size: 16px;
}
@media (max-width: 767.98px) {
  .collections-quantity {
    line-height: 24px;
    font-size: 12px;
  }
}

.collections-action {
  margin-top: 10px;
}

.collections-shop-now {
  font-size: 16px;
  line-height: 26px;
}
@media (max-width: 767.98px) {
  .collections-shop-now {
    font-size: 14px;
    line-height: 20px;
    margin-top: 18px;
  }
}

.collections-explore {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767.98px) {
  .collections-explore {
    display: block;
    text-align: center;
    padding: 27px;
  }
}

.collections-explore__title {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  letter-spacing: 0px;
}
@media (max-width: 767.98px) {
  .collections-explore__title {
    font-size: 22.4px;
    line-height: 30px;
    font-weight: 500;
  }
}

.collections-explore__desc {
  margin-top: 10px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
}
@media (max-width: 767.98px) {
  .collections-explore__desc {
    line-height: 24px;
    font-size: 14px;
  }
}

.collections-explore__btn {
  text-wrap: nowrap;
}
@media (max-width: 767.98px) {
  .collections-explore__btn {
    margin-top: 36px;
  }
}

.products {
  padding-top: 50px;
  padding-bottom: 50px;
}

.products-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__sub-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #171717;
}

.products__title {
  margin-top: 8px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: 0px;
}

.products__action {
  display: flex;
  align-items: center;
  gap: 2px;
}

.products__action-arr {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-list {
  display: block;
}

.countdown {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 767.98px) {
  .countdown {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.countdown__inner {
  width: 100%;
  display: flex;
  align-items: center;
  height: 500px;
}
@media (max-width: 767.98px) {
  .countdown__inner {
    flex-direction: column-reverse;
    height: auto;
  }
}

.countdown__content {
  flex: 3;
  height: 100%;
  width: 100%;
  background: #f5f5f5;
  padding: 50px;
}
@media (max-width: 767.98px) {
  .countdown__content {
    padding: 27px 27px 54px 27px;
  }
}

.countdown__sub-title {
  font-size: 14px;
  line-height: 24px;
  color: #171717;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .countdown__sub-title {
    font-size: 12px;
    line-height: 20px;
  }
}

.countdown__title {
  font-size: 40px;
  line-height: 48px;
  color: #0c0c0c;
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  margin-right: 50px;
}
@media (max-width: 767.98px) {
  .countdown__title {
    margin-right: 0;
    font-size: 25.6px;
    line-height: 33px;
  }
}

.countdown__desc {
  margin-top: 10px;
  font-size: 16px;
  line-height: 26px;
  color: #171717;
}

.countdown__time {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.countdown__item {
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #000;
  text-align: center;
  color: #171717;
}
@media (max-width: 767.98px) {
  .countdown__item {
    padding: 10px;
  }
}

.countdown__numb {
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
}
@media (max-width: 767.98px) {
  .countdown__numb {
    font-size: 22.4px;
    line-height: 30px;
  }
}

.countdown__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .countdown__label {
    font-size: 12px;
    line-height: 20px;
  }
}

.countdown__time > span {
  font-weight: 600;
  font-size: 19px;
}

.countdown__btn {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.countdown__video {
  position: relative;
  width: 500px;
  height: 100%;
  overflow: hidden;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.play-button {
  background: none;
  padding: 15px 15px;
  border-radius: 999px;
  color: #fff;
  background: #000;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button:hover {
  transform: scale(1.1);
}

.play-button svg {
  margin-left: 6px;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 2;
}

.video-player video {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.iwt {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 767.98px) {
  .iwt {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.iwt__content {
  height: 100%;
  align-content: center;
  color: #171717;
}

.iwt__sub-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .iwt__sub-title {
    font-size: 12px;
    line-height: 20px;
  }
}

.iwt__title {
  margin-top: 10px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  .iwt__title {
    font-size: 25.6px;
    line-height: 33.6px;
  }
}

.iwt__desc {
  margin-top: 10px;
  font-size: 19px;
  line-height: 29px;
}
@media (max-width: 767.98px) {
  .iwt__desc {
    font-size: 17px;
    line-height: 27px;
  }
}

.iwt__btn {
  margin-top: 20px;
}
@media (max-width: 767.98px) {
  .iwt__btn {
    font-size: 14px;
    line-height: 20px;
  }
}

.iwt__images {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
  grid-template-areas: "large small-top" "large small-bottom";
}
@media (max-width: 767.98px) {
  .iwt__images {
    height: 320px;
  }
}
@media (max-width: 575.98px) {
  .iwt__images {
    height: 260px;
  }
}

.iwt__item {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.iwt__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.large {
  grid-area: large;
  height: 100%;
}

.small {
  height: 100%;
}

.services {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 767.98px) {
  .services {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.services__list {
  color: #171717;
}

.services__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .services__item {
    gap: 10px;
  }
}

.services__icon {
  width: 40px;
  height: 40px;
}

.services__label {
  font-size: 19px;
  line-height: 29px;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  .services__label {
    font-size: 17px;
    line-height: 27px;
  }
}

.services__text {
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .services__text {
    font-size: 14px;
    line-height: 24px;
  }
}

.product-item {
  width: 100%;
  color: #171717;
}

.product-item__image {
  display: block;
  position: relative;
  width: 100%;
}

.product-item__img {
  width: 100%;
  height: 430px;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .product-item__img {
    height: 250px;
  }
}

.product-item__badge {
  position: absolute;
  top: 20px;
  left: 20px;
  padding-left: 4px;
  padding-right: 4px;
}

.product-item__badge--sale {
  background: #dc2626;
  color: #fff;
  font-size: 12px;
  line-height: 20.8px;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
}

.product-item__quick-add {
  opacity: 0;
  position: absolute;
  bottom: 15px;
  left: 20px;
  width: 85%;
  transition: all 0.3s linear;
  justify-content: center;
}

.products-list__item:hover .product-item__quick-add {
  bottom: 20px;
  opacity: 1;
}

.product-item__brand {
  color: #8a8a8a;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-item__title {
  margin-top: 8px;
  font-size: 19px;
  line-height: 29px;
  font-weight: 500;
  color: #191919;
}

.product-item__rating {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 8px;
}

.star {
  width: 20px;
  height: 20px;
  color: #ffbc00;
}

.product-item__reviews {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0px;
}

.product-item__price {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-item__price-current {
  font-weight: 600;
  font-size: 19px;
  line-height: 29px;
}

.product-item__price-original {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: line-through;
  color: #8a8a8a;
}

/* Animation cho success state */
@keyframes quickAddSuccess {
  0% {
    transform: scale(1);
    background: linear-gradient(135deg, #333, #555);
  }
  50% {
    transform: scale(1.05);
    background: #28a745;
  }
  100% {
    transform: scale(1);
    background: #cccccc;
  }
}
.product-item__quick-add--active {
  background: #ccc;
  color: #fff;
}

/* Loading state */
.product-item__quick-add--loading {
  z-index: 10;
  pointer-events: none;
  cursor: none;
}

.product-item__quick-add--loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-top: 2px solid currentColor;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  color: #fff !important; /* Color of the spinner */
}

@keyframes spin {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
