@use "../abstracts";

.carousel {
  background: #f5f5f5;
  padding: 12px 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  &__wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__content {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    animation: none;
    transition: transform 0.1s linear;
    will-change: transform;
  }

  &__item {
    padding: 0 40px;
    font-size: 19px;
    line-height: 29px;
    font-weight: 500;
    white-space: nowrap;
    flex-shrink: 0;

    @include abstracts.screen(md) {
      font-size: 17px;
      line-height: 27px;
      letter-spacing: 0px;
      font-weight: 400;
    }
  }
}
