@use "../abstracts";

.iwt {
  padding-top: 50px;
  padding-bottom: 50px;

  @include abstracts.screen(md) {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.iwt__content {
  height: 100%;
  align-content: center;
  color: #171717;
}

.iwt__sub-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include abstracts.screen(md) {
    font-size: 12px;
    line-height: 20px;
  }
}

.iwt__title {
  margin-top: 10px;
}

.iwt__desc {
  margin-top: 10px;
  font-size: 19px;
  line-height: 29px;

  @include abstracts.screen(md) {
    font-size: 17px;
    line-height: 27px;
  }
}

.iwt__btn {
  margin-top: 20px;

  @include abstracts.screen(md) {
    font-size: 14px;
    line-height: 20px;
  }
}

.iwt__images {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
  grid-template-areas:
    "large small-top"
    "large small-bottom";

  @include abstracts.screen(md) {
    height: 320px;
  }

  @include abstracts.screen(sm) {
    height: 260px;
  }
}

.iwt__item {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.iwt__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.large {
  grid-area: large;
  height: 100%;
}

.small {
  height: 100%;
}
