@use "../abstracts";

.product-item {
  width: 100%;
  color: #171717;
}

.product-item__image {
  display: block;
  position: relative;
  width: 100%;
}

.product-item__img {
  width: 100%;
  height: 430px;
  object-fit: cover;

  @include abstracts.screen(md) {
    height: 250px;
  }
}

.product-item__badge {
  position: absolute;
  top: 20px;
  left: 20px;

  padding-left: 4px;
  padding-right: 4px;
}

.product-item__badge--sale {
  background: #dc2626;
  color: #fff;

  font-size: 12px;
  line-height: 20.8px;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
}

.product-item__quick-add {
  opacity: 0;
  position: absolute;
  bottom: 15px;
  left: 20px;
  width: 85%;
  transition: all 0.3s linear;

  justify-content: center;
}

.products-list__item:hover {
  .product-item__quick-add {
    bottom: 20px;
    opacity: 1;
  }
}

.product-item__brand {
  color: #8a8a8a;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-item__title {
  margin-top: 8px;
  font-size: 19px;
  line-height: 29px;
  font-weight: 500;

  color: #191919;
}

.product-item__rating {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-top: 8px;
}

.star {
  width: 20px;
  height: 20px;
  color: #ffbc00;
}

.product-item__reviews {
  font-size: 14px;
  line-height: 24px;

  font-weight: 400;
  letter-spacing: 0px;
}

.product-item__price {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-item__price-current {
  font-weight: 600;
  font-size: 19px;
  line-height: 29px;
}

.product-item__price-original {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: line-through;
  color: #8a8a8a;
}

/* Animation cho success state */
@keyframes quickAddSuccess {
  0% {
    transform: scale(1);
    background: linear-gradient(135deg, #333, #555);
  }
  50% {
    transform: scale(1.05);
    background: #28a745;
  }
  100% {
    transform: scale(1);
    background: #cccccc;
  }
}

.product-item__quick-add--active {
  background: #ccc;
  color: #fff;
}

/* Loading state */
.product-item__quick-add--loading {
  z-index: 10;
  pointer-events: none;
  cursor: none;
}

.product-item__quick-add--loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-top: 2px solid currentColor;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  color: #fff !important; /* Color of the spinner */
}

@keyframes spin {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}
