<div class="row banner">
  <div class="col-8 col-md-12">
    <div class="banner-left">
      <img src="../assets/images/banner/banner_1.jpg" loading="lazy" class="banner__img" alt="banner 1" />
    </div>
  </div>

  <div class="col-4 col-md-12">
    <div class="banner-right">
      <div class="banner__content">
        <p class="banner__sub-title">July 2025 Collection</p>
        <h3 class="banner__title">Stay cool, stay stylish – all summer long</h3>
        <p class="banner__desc">
          Discover breezy skirts and effortless dresses made for sunny days and golden hours. From casual strolls to
          garden parties, find the perfect piece to shine with confidence this summer.
        </p>
        <a href="#" class="btn btn--primary banner__btn">
          <span class="btn__text">Shop Now</span>
          <span class="btn__icon">
            <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
              ></path>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
