<div class="brand">
  <div class="container">
    <p class="brand__sub-title">BRANDS</p>
    <h3 class="brand__title">Where quality meets elegance</h3>
    <p class="brand__desc">
      Discover beloved brands that bring comfort, elegance, and effortless summer style — just in time for sunshine
      season.
    </p>

    <div class="brand__list">
      <div class="row g-3 g-lg-2 g-md-1">
        <div class="col col-2 col-md-4">
          <div class="brand__item">
            <img loading="lazy" src="../assets/images/brands/br1.jpg" alt="Brand 1" />
          </div>
        </div>
        <div class="col col-2 col-md-4">
          <div class="brand__item">
            <img loading="lazy" src="../assets/images/brands/br2.jpg" alt="Brand 2" />
          </div>
        </div>
        <div class="col col-2 col-md-4">
          <div class="brand__item">
            <img loading="lazy" src="../assets/images/brands/br3.jpg" alt="Brand 3" />
          </div>
        </div>
        <div class="col col-2 col-md-4">
          <div class="brand__item">
            <img loading="lazy" src="../assets/images/brands/br4.jpg" alt="Brand 4" />
          </div>
        </div>
        <div class="col col-2 col-md-4">
          <div class="brand__item">
            <img loading="lazy" src="../assets/images/brands/br5.jpg" alt="Brand 5" />
          </div>
        </div>
        <div class="col col-2 col-md-4">
          <div class="brand__item">
            <img loading="lazy" src="../assets/images/brands/br6.jpg" alt="Brand 6" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
