<div class="carousel">
  <div class="carousel__content">
    <div class="carousel__item">Seasonal promotions happening now!</div>
    <div class="carousel__item">Exclusive discounts available now!</div>
    <div class="carousel__item">Free shipping over $50!</div>
    <div class="carousel__item">Get 10% off your first order!</div>
  </div>

  <div class="carousel__content">
    <div class="carousel__item">Seasonal promotions happening now!</div>
    <div class="carousel__item">Exclusive discounts available now!</div>
    <div class="carousel__item">Free shipping over $50!</div>
    <div class="carousel__item">Get 10% off your first order!</div>
  </div>
  <div class="carousel__content">
    <div class="carousel__item">Seasonal promotions happening now!</div>
    <div class="carousel__item">Exclusive discounts available now!</div>
    <div class="carousel__item">Free shipping over $50!</div>
    <div class="carousel__item">Get 10% off your first order!</div>
  </div>
</div>
