<div class="countdown">
  <div class="container">
    <div class="countdown__inner">
      <div class="countdown__content">
        <p class="countdown__sub-title">Specials</p>
        <h3 class="countdown__title">Discover Irresistible Offers Waiting to Be Yours</h3>
        <p class="countdown__desc">Harry up. the attactive offers are limited in quantity!</p>

        <div class="countdown__time">
          <div class="countdown__item">
            <span class="countdown__days countdown__numb">42</span>
            <br />
            <span class="countdown__label">Days</span>
          </div>
          <span>:</span>
          <div class="countdown__item">
            <span class="countdown__hours countdown__numb"> 01 </span>
            <br />
            <span class="countdown__label">hours</span>
          </div>
          <span>:</span>
          <div class="countdown__item">
            <span class="countdown__mins countdown__numb"> 12 </span>
            <br />
            <span class="countdown__label">mins</span>
          </div>
          <span>:</span>
          <div class="countdown__item">
            <span class="countdown__secs countdown__numb"> 42 </span>
            <br />
            <span class="countdown__label">secs</span>
          </div>
        </div>

        <button class="countdown__btn btn btn--secondary">
          Explore the collection
          <img src="../assets/icon/arr-right.svg" class="countdown__btn--icon" alt="" />
        </button>
      </div>

      <!-- Countdown video -->
      <div class="countdown__video">
        <div
          class="video-overlay"
          id="videoOverlay"
          style="background-image: url('../assets/images/video/countdown-img.jpg')"
        >
          <button class="play-button">
            <img src="../assets/icon/play.svg" class="play-button--icon" alt="Play" />
          </button>
        </div>

        <div class="video-player" id="videoPlayer">
          <button class="close-button" id="closeButton">
            <svg viewBox="0 0 24 24" width="24" height="24">
              <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                fill="white"
              ></path>
            </svg>
          </button>
          <video controls muted>
            <source src="../assets/images/video/countdown-video.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
