<div class="countdown">
  <div class="container">
    <div class="countdown__inner">
      <div class="countdown__content">
        <p class="countdown__sub-title">Specials</p>
        <h3 class="countdown__title">Discover Irresistible Offers Waiting to Be Yours</h3>
        <p class="countdown__desc">Harry up. the attactive offers are limited in quantity!</p>

        <div class="countdown__time">
          <div class="countdown__item">
            <span class="countdown__days countdown__numb">42</span>
            <br />
            <span class="countdown__label">Days</span>
          </div>
          <span>:</span>
          <div class="countdown__item">
            <span class="countdown__hours countdown__numb"> 01 </span>
            <br />
            <span class="countdown__label">hours</span>
          </div>
          <span>:</span>
          <div class="countdown__item">
            <span class="countdown__mins countdown__numb"> 12 </span>
            <br />
            <span class="countdown__label">mins</span>
          </div>
          <span>:</span>
          <div class="countdown__item">
            <span class="countdown__secs countdown__numb"> 42 </span>
            <br />
            <span class="countdown__label">secs</span>
          </div>
        </div>

        <button class="countdown__btn btn btn--secondary">
          Explore the collection
          <svg
            viewBox="0 0 24 24"
            class=".countdown__btn-icon"
            width="20px"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
            ></path>
          </svg>
        </button>
      </div>

      <!-- Countdown video -->
      <div class="countdown__video">
        <div
          class="video-overlay"
          id="videoOverlay"
          style="background-image: url('../assets/images/video/countdown-img.jpg')"
        >
          <button class="play-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="0 0 448 512" fill="currentColor">
              <path
                d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"
              ></path>
            </svg>
          </button>
        </div>

        <div class="video-player" id="videoPlayer">
          <button class="close-button" id="closeButton">
            <svg viewBox="0 0 24 24" width="24" height="24">
              <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                fill="white"
              ></path>
            </svg>
          </button>
          <video controls muted>
            <source src="../assets/images/video/countdown-video.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
