<div class="iwt">
  <div class="container">
    <div class="iwt__inner">
      <div class="row g-3">
        <div class="col col-5 col-md-12">
          <div class="iwt__content">
            <p class="iwt__sub-title">CELEBRATE MOM WITH LOVE</p>
            <h3 class="iwt__title">Embrace Boldness With Statement Style</h3>
            <p class="iwt__desc title">
              Step into summer with skirts and dresses that turn heads. From flowy silhouettes to playful prints, make
              every look unforgettable.
            </p>

            <button class="iwt__btn btn btn--secondary">
              Shop now
              <svg
                viewBox="0 0 24 24"
                class=".countdown__btn-icon"
                width="20px"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="col col-7 col-md-12">
          <div class="iwt__images">
            <div class="iwt__item large">
              <img
                loading="lazy"
                src="../assets/images/image-with-text/iwt1.jpg"
                alt="Image with text 1"
                class="iwt__img"
              />
            </div>

            <div class="iwt__item small">
              <img
                loading="lazy"
                src="../assets/images/image-with-text/iwt2.jpg"
                alt="Image with text 1"
                class="iwt__img"
              />
            </div>

            <div class="iwt__item small">
              <img
                loading="lazy"
                src="../assets/images/image-with-text/iwt3.jpg"
                alt="Image with text 1"
                class="iwt__img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
