<div class="memories">
  <div class="container">
    <div class="memories__inner">
      <div class="row memories__row">
        <div class="col col-5 col-md-12">
          <div class="memories__content">
            <p class="memories__sub-title">moments in motion</p>
            <h3 class="memories__title">Live in the Moments, Dress the Memories</h3>

            <div class="memories__list">
              <!-- Item 1 -->
              <div class="memories__item active">
                <div class="memories__top">
                  <div class="memories__top-left">
                    <img class="memories__icon" src="../assets/icon/numberOne.svg" alt="1" />
                    <h4 class="memories__item-title title">Masterpieces</h4>
                  </div>
                  <span class="memories__item-action"></span>
                </div>
                <p class="memories__item-content">
                  Every stitch tells a story. Each piece in our summer collection is crafted with care, blending
                  artistry and elegance to create silhouettes that feel like wearable works of art.
                </p>
              </div>

              <!-- Item 2 -->
              <div class="memories__item">
                <div class="memories__top">
                  <div class="memories__top-left">
                    <img class="memories__icon" src="../assets/icon/numberTwo.svg" alt="1" />
                    <h4 class="memories__item-title title">Masterpieces</h4>
                  </div>
                  <span class="memories__item-action"></span>
                </div>
                <p class="memories__item-content">
                  Every stitch tells a story. Each piece in our summer collection is crafted with care, blending
                  artistry and elegance to create silhouettes that feel like wearable works of art.
                </p>
              </div>

              <!-- Item 3 -->
              <div class="memories__item">
                <div class="memories__top">
                  <div class="memories__top-left">
                    <img class="memories__icon" src="../assets/icon/numberThree.svg" alt="1" />
                    <h4 class="memories__item-title title">Masterpieces</h4>
                  </div>
                  <span class="memories__item-action"></span>
                </div>
                <p class="memories__item-content">
                  Every stitch tells a story. Each piece in our summer collection is crafted with care, blending
                  artistry and elegance to create silhouettes that feel like wearable works of art.
                </p>
              </div>

              <!-- Item 4 -->
              <div class="memories__item">
                <div class="memories__top">
                  <div class="memories__top-left">
                    <img class="memories__icon" src="../assets/icon/numberFour.svg" alt="1" />
                    <h4 class="memories__item-title title">Masterpieces</h4>
                  </div>
                  <span class="memories__item-action"></span>
                </div>
                <p class="memories__item-content">
                  Every stitch tells a story. Each piece in our summer collection is crafted with care, blending
                  artistry and elegance to create silhouettes that feel like wearable works of art.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col col-7 col-md-12">
          <div class="memories__image">
            <img loading="lazy" src="../assets/images/memories/mmr1.jpg" class="memories__img active" alt="Memories" />
            <img
              loading="lazy"
              src="../assets/images/memories/mmr2.jpg"
              class="memories__img inactive"
              alt="Memories"
            />
            <img
              loading="lazy"
              src="../assets/images/memories/mmr3.jpg"
              class="memories__img inactive"
              alt="Memories"
            />
            <img
              loading="lazy"
              src="../assets/images/memories/mmr4.jpg"
              class="memories__img inactive"
              alt="Memories"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
