<div class="products">
  <div class="container">
    <div class="products-content">
      <div class="products-top">
        <div>
          <p class="products__sub-title">our product's</p>
          <h3 class="products__title">New Arrivals</h3>
        </div>
        <div class="products__action">
          <span class="products__action-left products__action-arr">
            <img src="../assets/icon/arr-left-pdd.svg" class="product-details-pair__action--icon" alt="" />
          </span>
          <span class="products__action-number d-none d-md-block">0/1</span>
          <span class="products__action-right products__action-arr">
            <img src="../assets/icon/arr-right-pdd.svg" class="product-details-pair__action--icon" alt="" />
          </span>
        </div>
      </div>

      <div class="products-list swiper mySwiper">
        <div class="swiper-wrapper">
          <!-- Product 1 -->
          <div class="products-list__item swiper-slide">
            <div class="product-item">
              <a href="#!" class="product-item__image">
                <img
                  loading="lazy"
                  src="../assets/images/products/pd1.webp"
                  class="product-item__img"
                  alt="Summer Dresses V Neck Sleeveless Casual"
                />
                <div class="product-item__badge product-item__badge--sale">SAVE 16%</div>
                <button class="product-item__quick-add btn btn--secondary">
                  + Quick Add
                  <span class="product-item__quick-add--loading d-none"></span>
                </button>
              </a>
              <div class="product-item__info">
                <p class="product-item__brand">ZEAGOO</p>
                <h4 class="product-item__title">Summer Dresses V Neck Sleeveless Casual</h4>
                <div class="product-item__rating">
                  <div class="product-item__stars">
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                  </div>
                  <span class="product-item__reviews">(512)</span>
                </div>
                <div class="product-item__price">
                  <span class="product-item__price-current">$19.99</span>
                  <span class="product-item__price-original">$23.99</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Product 2 -->
          <div class="products-list__item swiper-slide">
            <div class="product-item">
              <a href="#!" class="product-item__image">
                <img
                  loading="lazy"
                  src="../assets/images/products/pd2.webp"
                  class="product-item__img"
                  alt="Round Neck Swing Casual Summer Short Dress"
                />
                <button class="product-item__quick-add btn btn--secondary">
                  + Quick Add
                  <span class="product-item__quick-add--loading d-none"></span>
                </button>
              </a>
              <div class="product-item__info">
                <p class="product-item__brand">GORGLITTER</p>
                <h4 class="product-item__title">Round Neck Swing Casual Summer Short Dress</h4>
                <div class="product-item__rating">
                  <div class="product-item__stars">
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                  </div>
                  <span class="product-item__reviews">(512)</span>
                </div>
                <div class="product-item__price">
                  <span class="product-item__price-current">$18.99</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Product 3 -->
          <div class="products-list__item swiper-slide">
            <div class="product-item">
              <a href="#!" class="product-item__image">
                <img
                  loading="lazy"
                  src="../assets/images/products/pd3.webp"
                  class="product-item__img"
                  alt="Ladies Dresses Square Neck Lightweight"
                />
                <button class="product-item__quick-add btn btn--secondary">
                  + Quick Add
                  <span class="product-item__quick-add--loading d-none"></span>
                </button>
              </a>
              <div class="product-item__info">
                <p class="product-item__brand">TIANZHU</p>
                <h4 class="product-item__title">Ladies Dresses Square Neck Lightweight</h4>
                <div class="product-item__rating">
                  <div class="product-item__stars">
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                  </div>
                  <span class="product-item__reviews">(512)</span>
                </div>
                <div class="product-item__price">
                  <span class="product-item__price-current">$19.99</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Product 4 -->
          <div class="products-list__item swiper-slide">
            <div class="product-item">
              <a href="#!" class="product-item__image">
                <img
                  loading="lazy"
                  src="../assets/images/products/pd4.webp"
                  class="product-item__img"
                  alt="Ladies Dresses Square Neck Lightweight"
                />
                <button class="product-item__quick-add btn btn--secondary">
                  + Quick Add
                  <span class="product-item__quick-add--loading d-none"></span>
                </button>
              </a>
              <div class="product-item__info">
                <p class="product-item__brand">TIANZHU</p>
                <h4 class="product-item__title">Ladies Dresses Square Neck Lightweight</h4>
                <div class="product-item__rating">
                  <div class="product-item__stars">
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                  </div>
                  <span class="product-item__reviews">(512)</span>
                </div>
                <div class="product-item__price">
                  <span class="product-item__price-current">$19.99</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Product 5 -->
          <div class="products-list__item swiper-slide">
            <div class="product-item">
              <a href="#!" class="product-item__image">
                <img
                  loading="lazy"
                  src="../assets/images/products/pd5.webp"
                  class="product-item__img"
                  alt="Ladies Dresses Square Neck Lightweight"
                />
                <button class="product-item__quick-add btn btn--secondary">
                  + Quick Add
                  <span class="product-item__quick-add--loading d-none"></span>
                </button>
              </a>
              <div class="product-item__info">
                <p class="product-item__brand">TIANZHU</p>
                <h4 class="product-item__title">Ladies Dresses Square Neck Lightweight</h4>
                <div class="product-item__rating">
                  <div class="product-item__stars">
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                  </div>
                  <span class="product-item__reviews">(512)</span>
                </div>
                <div class="product-item__price">
                  <span class="product-item__price-current">$19.99</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Product 6 -->
          <div class="products-list__item swiper-slide">
            <div class="product-item">
              <a href="#!" class="product-item__image">
                <img
                  loading="lazy"
                  src="../assets/images/products/pd6.jpg"
                  class="product-item__img"
                  alt="Ladies Dresses Square Neck Lightweight"
                />
                <button class="product-item__quick-add btn btn--secondary">
                  + Quick Add
                  <span class="product-item__quick-add--loading d-none"></span>
                </button>
              </a>
              <div class="product-item__info">
                <p class="product-item__brand">TIANZHU</p>
                <h4 class="product-item__title">Ladies Dresses Square Neck Lightweight</h4>
                <div class="product-item__rating">
                  <div class="product-item__stars">
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                  </div>
                  <span class="product-item__reviews">(512)</span>
                </div>
                <div class="product-item__price">
                  <span class="product-item__price-current">$19.99</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Product 7 -->
          <div class="products-list__item swiper-slide">
            <div class="product-item">
              <a href="#!" class="product-item__image">
                <img
                  loading="lazy"
                  src="../assets/images/products/pd3.webp"
                  class="product-item__img"
                  alt="Ladies Dresses Square Neck Lightweight"
                />
                <button class="product-item__quick-add btn btn--secondary">
                  + Quick Add
                  <span class="product-item__quick-add--loading d-none"></span>
                </button>
              </a>
              <div class="product-item__info">
                <p class="product-item__brand">TIANZHU</p>
                <h4 class="product-item__title">Ladies Dresses Square Neck Lightweight</h4>
                <div class="product-item__rating">
                  <div class="product-item__stars">
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                  </div>
                  <span class="product-item__reviews">(512)</span>
                </div>
                <div class="product-item__price">
                  <span class="product-item__price-current">$19.99</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Product 8 -->
          <div class="products-list__item swiper-slide">
            <div class="product-item">
              <a href="#!" class="product-item__image">
                <img
                  loading="lazy"
                  src="../assets/images/products/pd4.webp"
                  class="product-item__img"
                  alt="Ladies Dresses Square Neck Lightweight"
                />
                <button class="product-item__quick-add btn btn--secondary">
                  + Quick Add
                  <span class="product-item__quick-add--loading d-none"></span>
                </button>
              </a>
              <div class="product-item__info">
                <p class="product-item__brand">TIANZHU</p>
                <h4 class="product-item__title">Ladies Dresses Square Neck Lightweight</h4>
                <div class="product-item__rating">
                  <div class="product-item__stars">
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                  </div>
                  <span class="product-item__reviews">(512)</span>
                </div>
                <div class="product-item__price">
                  <span class="product-item__price-current">$19.99</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Product 9 -->
          <div class="products-list__item swiper-slide">
            <div class="product-item">
              <a href="#!" class="product-item__image">
                <img
                  loading="lazy"
                  src="../assets/images/products/pd6.jpg"
                  class="product-item__img"
                  alt="Ladies Dresses Square Neck Lightweight"
                />
                <button class="product-item__quick-add btn btn--secondary">
                  + Quick Add
                  <span class="product-item__quick-add--loading d-none"></span>
                </button>
              </a>
              <div class="product-item__info">
                <p class="product-item__brand">TIANZHU</p>
                <h4 class="product-item__title">Ladies Dresses Square Neck Lightweight</h4>
                <div class="product-item__rating">
                  <div class="product-item__stars">
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                  </div>
                  <span class="product-item__reviews">(512)</span>
                </div>
                <div class="product-item__price">
                  <span class="product-item__price-current">$19.99</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Product 10 -->
          <div class="products-list__item swiper-slide">
            <div class="product-item">
              <a href="#!" class="product-item__image">
                <img
                  loading="lazy"
                  src="../assets/images/products/pd6.jpg"
                  class="product-item__img"
                  alt="Ladies Dresses Square Neck Lightweight"
                />
                <button class="product-item__quick-add btn btn--secondary">
                  + Quick Add
                  <span class="product-item__quick-add--loading d-none"></span>
                </button>
              </a>
              <div class="product-item__info">
                <p class="product-item__brand">TIANZHU</p>
                <h4 class="product-item__title">Ladies Dresses Square Neck Lightweight</h4>
                <div class="product-item__rating">
                  <div class="product-item__stars">
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                    <span class="star active">★</span>
                  </div>
                  <span class="product-item__reviews">(512)</span>
                </div>
                <div class="product-item__price">
                  <span class="product-item__price-current">$19.99</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
