<div class="product-details">
  <div class="container">
    <div class="product-details__inner">
      <div class="product-details__inner-images swiper imagesSwiper">
        <div class="product-details-images swiper-wrapper">
          <div class="product-details-images__item swiper-slide">
            <img
              loading="lazy"
              src="../assets/images/product-details/pdd1.webp"
              alt=""
              class="product-details-images__img"
            />
            <button class="product-details-images__btn">
              <img src="../assets/icon/zoom.svg" class="product-details-images__icon" alt="" />
            </button>
          </div>

          <div class="product-details-images__item swiper-slide">
            <img
              loading="lazy"
              src="../assets/images/product-details/pdd2.webp"
              alt=""
              class="product-details-images__img"
            />
            <button class="product-details-images__btn">
              <img src="../assets/icon/zoom.svg" class="product-details-images__icon" alt="" />
            </button>
          </div>

          <div class="product-details-images__item swiper-slide">
            <img
              loading="lazy"
              src="../assets/images/product-details/pdd3.webp"
              alt=""
              class="product-details-images__img"
            />
            <button class="product-details-images__btn">
              <img src="../assets/icon/zoom.svg" class="product-details-images__icon" alt="" />
            </button>
          </div>

          <div class="product-details-images__item swiper-slide">
            <img
              loading="lazy"
              src="../assets/images/product-details/pdd4.webp"
              alt=""
              class="product-details-images__img"
            />
            <button class="product-details-images__btn">
              <img src="../assets/icon/zoom.svg" class="product-details-images__icon" alt="" />
            </button>
          </div>

          <div class="product-details-images__item swiper-slide">
            <img
              loading="lazy"
              src="../assets/images/product-details/pdd5.webp"
              alt=""
              class="product-details-images__img"
            />
            <button class="product-details-images__btn">
              <img src="../assets/icon/zoom.svg" class="product-details-images__icon" alt="" />
            </button>
          </div>

          <div class="product-details-images__item swiper-slide">
            <img
              loading="lazy"
              src="../assets/images/product-details/pdd6.webp"
              alt=""
              class="product-details-images__img"
            />
            <button class="product-details-images__btn">
              <img src="../assets/icon/zoom.svg" class="product-details-images__icon" alt="" />
            </button>
          </div>

          <div class="product-details-images__item swiper-slide">
            <img
              loading="lazy"
              src="../assets/images/product-details/pdd7.webp"
              alt=""
              class="product-details-images__img"
            />
            <button class="product-details-images__btn">
              <img src="../assets/icon/zoom.svg" class="product-details-images__icon" alt="" />
            </button>
          </div>
        </div>
      </div>
      <div class="product-details-images__modal d-none">
        <button class="product-details-images__modal--close">
          <img src="../assets/icon/close.svg" alt="" class="product-details-images__modal--icon" />
        </button>
        <div class="swiper product-details-images-swiper">
          <div class="swiper-wrapper product-details-images__modal--list">
            <div class="swiper-slide product-details-images__modal--item">
              <img
                loading="lazy"
                src="../assets/images/product-details/pdd1.webp"
                alt=""
                class="product-details-images__img"
              />
            </div>
            <div class="swiper-slide product-details-images__modal--item">
              <img
                loading="lazy"
                src="../assets/images/product-details/pdd2.webp"
                alt=""
                class="product-details-images__img"
              />
            </div>
            <div class="swiper-slide product-details-images__modal--item">
              <img
                loading="lazy"
                src="../assets/images/product-details/pdd3.webp"
                alt=""
                class="product-details-images__img"
              />
            </div>
            <div class="swiper-slide product-details-images__modal--item">
              <img
                loading="lazy"
                src="../assets/images/product-details/pdd4.webp"
                alt=""
                class="product-details-images__img"
              />
            </div>
            <div class="swiper-slide product-details-images__modal--item">
              <img
                loading="lazy"
                src="../assets/images/product-details/pdd5.webp"
                alt=""
                class="product-details-images__img"
              />
            </div>
            <div class="swiper-slide product-details-images__modal--item">
              <img
                loading="lazy"
                src="../assets/images/product-details/pdd6.webp"
                alt=""
                class="product-details-images__img"
              />
            </div>
            <div class="swiper-slide product-details-images__modal--item">
              <img
                loading="lazy"
                src="../assets/images/product-details/pdd7.webp"
                alt=""
                class="product-details-images__img"
              />
            </div>
          </div>

          <!-- Pagination tùy chỉnh -->
          <div class="custom-pagination-container">
            <div class="custom-pagination">
              <div class="swiper-button-prev custom-arrow">←</div>
              <div class="pagination-fraction">
                <span class="swiper-pagination-current">1</span> /
                <span class="swiper-pagination-total">7</span>
              </div>
              <div class="swiper-button-next custom-arrow">→</div>
            </div>
          </div>
        </div>
      </div>

      <div class="product-details__inner-content">
        <div class="product-details__content">
          <p class="product-details__sub-title">Yiyuan</p>
          <h3 class="product-details__title">Elegant Summer Floral Print Long Dress</h3>

          <div class="product-details__rating product-item__rating">
            <div class="product-item__stars">
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
            </div>
            <span class="product-item__reviews">(512)</span>
          </div>

          <div class="product-details__price">
            <div class="product-details__price--top">
              <span class="product-details__price--new">$27.99</span>
              <span class="product-details__price--old">$68.15</span>
              <span class="product-details__price--tag">Sale</span>
            </div>
            <p class="product-details__price--desc">
              Tax included.
              <a href="#!" class="product-details__price--link">Shipping</a>
              calculated at checkout.
            </p>
          </div>

          <div class="product-details__size">
            <div class="product-details__size--top">
              <span class="product-details__size--name">Size: S</span>
              <span class="product-details__size--guide">Size Guide</span>
            </div>
            <div class="product-details__size--cate">
              <button class="product-details__size--btn selected">S</button>
              <button class="product-details__size--btn">M</button>
              <button class="product-details__size--btn">L</button>
              <button class="product-details__size--btn">XL</button>
            </div>
          </div>

          <div class="product-details__color">
            <div class="product-details__color--name">Color: green</div>
            <div class="product-details__color--cate">
              <div class="product-details__color--item active">
                <img
                  loading="lazy"
                  src="../assets/images/product-details/pdd1.webp"
                  alt=""
                  class="product-details__color--img"
                />
              </div>
              <div class="product-details__color--item">
                <img
                  loading="lazy"
                  src="../assets/images/product-details/pdd3.webp"
                  alt=""
                  class="product-details__color--img"
                />
              </div>
              <div class="product-details__color--item">
                <img
                  loading="lazy"
                  src="../assets/images/product-details/pdd5.webp"
                  alt=""
                  class="product-details__color--img"
                />
              </div>
            </div>
          </div>

          <div class="product-details__stock">
            <p class="product-details__stock--title">Low stock (20 units)</p>
            <div class="product-details__stock--bar">
              <div class="product-details__stock--bar-active"></div>
            </div>
          </div>

          <div class="product-details__action">
            <div class="product-details__action--cart">
              <div class="product-details__action--quantity">
                <button class="product-details__action--btn">
                  <span class="product-details__action--minus"></span>
                </button>
                <input
                  type="number"
                  min="1"
                  max="9999"
                  step="1"
                  value="1"
                  class="product-details__action--btn product-details__action--num"
                />
                <button class="product-details__action--btn">
                  <span class="product-details__action--plus"></span>
                </button>
              </div>

              <button class="product-details__action--add">Add To Cart</button>
            </div>
            <button class="product-details__action--buy btn btn--secondary">Buy It Now</button>
            <p class="product-details__action--desc">More payment options</p>
          </div>

          <div class="product-details__services">
            <div class="product-details__services--list">
              <div class="product-details__services--item">
                <img src="../assets/icon/shipping.svg" alt="shipping" class="product-details__services--icon" />
                <span class="product-details__services--text">Order over $50 ship free</span>
              </div>
              <div class="product-details__services--item">
                <img src="../assets/icon/return.svg" alt="return" class="product-details__services--icon" />
                <span class="product-details__services--text">30 days return</span>
              </div>
            </div>
          </div>

          <div class="product-details-pair">
            <div class="product-details-pair__top">
              <h4 class="product-details-pair__title">Pairs well with</h4>
              <div class="product-details-pair__action d-none d-md-flex">
                <img
                  src="../assets/icon/right.svg"
                  class="product-details-pair__action--icon product-details-pair__action--icon-left"
                  alt=""
                />
                <span class="product-details-pair__action--number">0/1</span>
                <img src="../assets/icon/right.svg" class="product-details-pair__action--icon" alt="" />
              </div>
            </div>
            <div class="product-details-pair__list">
              <!-- Item 1 -->
              <div class="product-details-pair__item active">
                <div class="product-details-pair__image">
                  <img
                    loading="lazy"
                    src="../assets/images/product-details/pair1.webp"
                    alt=""
                    class="product-details-pair__img"
                  />
                  <button class="product-details-pair__cart">
                    <img src="../assets/icon/cart.svg" alt="" class="product-details-pair__icon" />
                  </button>
                </div>
                <div class="product-details-pair__info">
                  <span class="product-details-pair__name">Cut Out Midi Dress</span>
                  <div class="product-details-pair__price">
                    <span class="product-details-pair__price--new">$27.99</span>
                    <span class="product-details-pair__price--old">$68.15</span>
                  </div>
                </div>
              </div>

              <!-- Item 2 -->
              <div class="product-details-pair__item">
                <div class="product-details-pair__image">
                  <img
                    loading="lazy"
                    src="../assets/images/product-details/pair2.webp"
                    alt=""
                    class="product-details-pair__img"
                  />
                  <button class="product-details-pair__cart">
                    <img src="../assets/icon/cart.svg" alt="" class="product-details-pair__icon" />
                  </button>
                </div>
                <div class="product-details-pair__info">
                  <span class="product-details-pair__name">Casa Puff Sleeve Mini Dress</span>
                  <div class="product-details-pair__price">
                    <span class="product-details-pair__price--new">$27.99</span>
                    <span class="product-details-pair__price--old">$68.15</span>
                  </div>
                </div>
              </div>

              <!-- Item 3 -->
              <div class="product-details-pair__item">
                <div class="product-details-pair__image">
                  <img
                    loading="lazy"
                    src="../assets/images/product-details/pair3.webp"
                    alt=""
                    class="product-details-pair__img"
                  />
                  <button class="product-details-pair__cart">
                    <img src="../assets/icon/cart.svg" alt="" class="product-details-pair__icon" />
                  </button>
                </div>
                <div class="product-details-pair__info">
                  <span class="product-details-pair__name">Arista Tulip Sleeve Mini Dress</span>
                  <div class="product-details-pair__price">
                    <span class="product-details-pair__price--new">$27.99</span>
                    <span class="product-details-pair__price--old">$68.15</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="product-details-info">
            <div class="product-details-info__list">
              <!-- Item 1 -->
              <div class="product-details-info__item active">
                <div class="product-details-info__item-top">
                  <span class="product-details-info__item--title">Return & Exchanges</span>
                  <span class="product-details-info__item--action"></span>
                </div>

                <p class="product-details-info__item--desc">
                  If you're not completely happy with your purchase, we’re happy to offer a refund or exchange, as long
                  as: Items are returned within 30 days with the original receipt Items are unworn, in original
                  condition with all tags attached Refunds will be made to your original payment method. Delivery costs
                  are non-refundable unless the item is faulty or incorrect. To return or exchange an online purchase,
                  please contact our customer service for the return address. Exchanges depend on stock availability.
                </p>
              </div>

              <!-- Item 2 -->
              <div class="product-details-info__item">
                <div class="product-details-info__item-top">
                  <span class="product-details-info__item--title">Fabric care rules</span>
                  <span class="product-details-info__item--action"></span>
                </div>

                <p class="product-details-info__item--desc">
                  To avoid shrinkage, pre-wash natural fibers the same way you plan to wash the finished item, including
                  drying. Wash light and bright colors separately, especially in the first few washes. Take extra care
                  with high-contrast prints (e.g. red, black, navy on light fabric) — cold wash and dry promptly to
                  prevent color bleed. Delicate fabrics like satins, sequined, beaded, foiled, or specialty weights may
                  need special care. Always follow care instructions, as we can’t accept claims for items laundered
                  incorrectly. For questions, feel free to contact us.
                </p>
              </div>

              <!-- Item 3 -->
              <div class="product-details-info__item">
                <div class="product-details-info__item-top">
                  <span class="product-details-info__item--title">Shipping</span>
                  <span class="product-details-info__item--action"></span>
                </div>

                <p class="product-details-info__item--desc">
                  Shipment processing times All orders are processed within 3-10 business days (excluding weekends and
                  holidays) after the order is placed. Please note that during high-volume periods, processing time may
                  take longer than usual.
                </p>
              </div>
            </div>
          </div>

          <div class="product-details-link">
            <button class="product-details-link__share">
              <img src="../assets/icon/share.svg" alt="" class="product-details-link__icon" />
              <span class="product-details-link__text">Share</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
