<div class="reviews">
  <div class="container">
    <div class="reviews__inner">
      <p class="reviews__sub-title">testimonial</p>
      <h3 class="reviews__title">Our Customers Reviews</h3>

      <div class="reviews__list swiper swiper-reviews">
        <div class="swiper-wrapper reviews__wrapper">
          <!-- Item 1 -->
          <div class="reviews__item swiper-slide">
            <div class="reviews__rate">
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
            </div>

            <p class="reviews__content title">
              It was light, breathable, and felt like it was made just for me. I could move freely, dance, sit on the
              grass, and still feel completely put-together. It’s not just a dress — it’s a memory wrapped in fabric.
            </p>

            <div class="reviews__info">
              <div class="reviews__avatar">
                <img loading="lazy" src="../assets/images/avatar/av1.jpg" alt="av1" />
              </div>
              <div>
                <p class="reviews__info--name">Emily R.</p>
                <p class="reviews__info--address">From Australia</p>
              </div>
            </div>
          </div>

          <!-- Item 2 -->
          <div class="reviews__item swiper-slide">
            <div class="reviews__rate">
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
            </div>

            <p class="reviews__content title">
              It was light, breathable, and felt like it was made just for me. I could move freely, dance, sit on the
              grass, and still feel completely put-together. It’s not just a dress — it’s a memory wrapped in fabric.
            </p>

            <div class="reviews__info">
              <div class="reviews__avatar">
                <img loading="lazy" src="../assets/images/avatar/av2.jpg" alt="av2" />
              </div>
              <div>
                <p class="reviews__info--name">Emily R.</p>
                <p class="reviews__info--address">From Australia</p>
              </div>
            </div>
          </div>

          <!-- Item 3 -->
          <div class="reviews__item swiper-slide">
            <div class="reviews__rate">
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
            </div>

            <p class="reviews__content title">
              It was light, breathable, and felt like it was made just for me. I could move freely, dance, sit on the
              grass, and still feel completely put-together. It’s not just a dress — it’s a memory wrapped in fabric.
            </p>

            <div class="reviews__info">
              <div class="reviews__avatar">
                <img loading="lazy" src="../assets/images/avatar/av3.jpg" alt="av3" />
              </div>
              <div>
                <p class="reviews__info--name">Emily R.</p>
                <p class="reviews__info--address">From Australia</p>
              </div>
            </div>
          </div>

          <!-- Item 4 -->
          <div class="reviews__item swiper-slide">
            <div class="reviews__rate">
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
            </div>

            <p class="reviews__content title">
              It was light, breathable, and felt like it was made just for me. I could move freely, dance, sit on the
              grass, and still feel completely put-together. It’s not just a dress — it’s a memory wrapped in fabric.
            </p>

            <div class="reviews__info">
              <div class="reviews__avatar">
                <img loading="lazy" src="../assets/images/avatar/av4.jpg" alt="av4" />
              </div>
              <div>
                <p class="reviews__info--name">Emily R.</p>
                <p class="reviews__info--address">From Australia</p>
              </div>
            </div>
          </div>

          <!-- Item 5 -->
          <div class="reviews__item swiper-slide">
            <div class="reviews__rate">
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
              <span class="star active">★</span>
            </div>

            <p class="reviews__content title">
              It was light, breathable, and felt like it was made just for me. I could move freely, dance, sit on the
              grass, and still feel completely put-together. It’s not just a dress — it’s a memory wrapped in fabric.
            </p>

            <div class="reviews__info">
              <div class="reviews__avatar">
                <img loading="lazy" src="../assets/images/avatar/av5.jpg" alt="av5" />
              </div>
              <div>
                <p class="reviews__info--name">Emily R.</p>
                <p class="reviews__info--address">From Australia</p>
              </div>
            </div>
          </div>
        </div>

        <div class="reviews__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
