<div class="services">
  <div class="container">
    <div class="services__list">
      <div class="row g-1">
        <!-- Item 1 -->
        <div class="col col-3 col-md-6">
          <div class="services__item">
            <div class="services__icon">
              <img loading="lazy" src="../assets/icon/shipping.svg" alt="" />
            </div>
            <div class="services__label">Free Shipping</div>
            <p class="services__text">We offer fast, free shipping on all orders within 3-7 business days.</p>
          </div>
        </div>
        <!-- Item 2 -->

        <div class="col col-3 col-md-6">
          <div class="services__item">
            <div class="services__icon">
              <img loading="lazy" src="../assets/icon/support.svg" alt="" />
            </div>
            <div class="services__label">24/7 Customer Support</div>
            <p class="services__text">Our team is available anytime via email and live chat to assist you.</p>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="col col-3 col-md-6">
          <div class="services__item">
            <div class="services__icon">
              <img loading="lazy" src="../assets/icon/return.svg" alt="" />
            </div>
            <div class="services__label">Hassle-Free Returns</div>
            <p class="services__text">Not satisfied? Return within 30 days for a full refund.</p>
          </div>
        </div>
        <!-- Item 4 -->
        <div class="col col-3 col-md-6">
          <div class="services__item">
            <div class="services__icon">
              <img loading="lazy" src="../assets/icon/payments.svg" alt="" />
            </div>
            <div class="services__label">Secure Payments</div>
            <p class="services__text">All transactions are encrypted for a smooth and safe checkout.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
